@font-face {
  font-family: Renogare;
  src: url(Renogare-Regular.otf);
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Renogare;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(backgroundimg.png);
  background-size: cover;
  background-position: center;
}

.logo{
  width: 90px;
  cursor: pointer; 
}

.navbar{
  width: 85%;
  margin: auto; 
  padding: 35px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px; 
  position: relative; 
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

.content h2{
  color:#009688;
  position: absolute;
  width: 100%;
  top: 20%; 
  transform: translateY(-50%);
  text-align: center;
  font-size: 60px;
  margin: 0;
  font-weight: 100;
}

.content p{
  position: absolute;
  width: 100%;
  top: 50%; 
  margin: 0px;
  line-height: 40px;
  transform: translateY(-50%);
  text-align: center;
  font-size: 25px;
  color:#fff;
}

.cppimg{
  width: 6%;
  left: 18%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  animation: fade 1s;
}

.cpp a h1{
  left: 13%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  color: #009688;
  animation: fade_txt 1s;
  font-weight: 100;
}

.csharp a h1{
  left: 35%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  color: #009688;
  animation: fade_txt 1.5s; 
  font-weight: 100;
}

.content p a{
  color:#009688;

}

.csharpimg{
  width: 5%;
  left: 39%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  animation: fade 1.5s;
}

.html a h1{
  left: 58%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  color: #009688;
  animation: fade_txt 2s; 
  font-weight: 100;
}

.htmlimg{
  width: 6%;
  left: 64%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  animation: fade 2s;
}

.css a h1{
  left: 78%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  color: #009688;
  animation: fade_txt 2.5s; 
  font-weight: 100;
}

.cssimg{
  width: 5%;
  left: 83%;
  text-align: center;
  position: absolute;
  top: 83%;
  transform: translateY(-50%);
  animation: fade 2.5s;
}

@keyframes fade{
  from{
  opacity:0;
  top:93%;
  }
  
  to{
  opacity: 1;
  top: 83%;
  }
  
}

@keyframes fade_txt{
  from{
  opacity:0;
  top:93%;
  }
  
  to{
  opacity: 1;
  top: 83%;
  }
  
}

@media (orientation: portrait) {
    
  @keyframes fade_txt{
    from{
    opacity:0;
    top:100%;
    }
    
    to{
    opacity: 1;
    top: 83%;
    }
    
  }


  @keyframes fade{
    from{
    opacity:0;
    top:100%;
    }
    
    to{
    opacity: 1;
    top: 90%;
    }
    
  }

  .content h2{
    position: absolute;
    top: 22%;
    font-size: 100px;
  }

  .content p{
    position: absolute;
    top: 52%;
    left: 10%;
    font-size: 43px;
    width: 800px;
    line-height: 53px;
  }

  .cpp a h1{
    top: 83%;
    left: 10%;
    font-weight: bold;
    font-size: 40px;
  }

  .htmlimg{
    width: 165px;
    top: 90%;
    left: 55%;
  }

  .html a h1{
    top: 83%;
    left: 58%;
    font-weight: bold;
    font-size: 40px;
  }
  .csharpimg{
    width: 150px;
    top: 90%;
    left: 31.5%;

  }

  .csharp a h1{
    top: 83%;
    left: 36.5%;
    font-weight: bold;
    font-size: 40px;
  }

  .cssimg{
    width: 150px;
    top: 90%;
    left: 76%;

  }

  .css a h1{
    top: 83%;
    left: 80%;
    font-weight: bold;
    font-size: 40px;
  }

  .logo{
    width: 25%;
  }

  .navbar{
    font-size: 29px;
  }

}