@font-face {
  font-family: Renogare;
  src: url(Renogare-Regular.otf);
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Renogare;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(backgroundimg.png);
  background-size: cover;
  background-position: center;
}

.blog-button{
  color: #009688;
  font-size: 40px;
  top: 100%;
  left: 33%;
  position: absolute;
  opacity: 0;
  display: none;

}

.logo{
  width: 90px;
  cursor: pointer; 
}

.navbar{
  width: 85%;
  margin: auto; 
  padding: 35px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px; 
  position: relative; 
  
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
  position: absolute;
  display: flex;
  width: 100%;
  top: 20%; 
  transform: translateY(-50%);
  text-align: center;
}

.content h2{
  font-size: 60px;
  margin: 20px;
  color: #009688;
  font-weight: 100;
}

.blogs-title{
  width: 500px;
  height: 100px;
  left: 40%;
  position: absolute;
  color: transparent;
}

.blogs-title h2{
  position: relative;
  top: -2%;
  left: 66%;

}

.proyectos-title{
  width: 500px;
  height: 100px;
  position: absolute;
  color: transparent;

}

.proyectos-title h2{
  position: relative;
  top: -2;
  left: 45%;
  
}

.blogs {
  color: #fff;
  position: absolute;
  width: 40%;
  top: 60%; 
  left: 60%;
  transform: translateY(-50%);
  text-align: center;
  animation: fade-blogs 1.2s; 
}

.blogs ul li{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase; 
  width: 100%;
  list-style: none;
  display: inline-block;
  margin: 20px 0px; 
  position: relative; 
}

.micomienzo-pic{
  width: 90px;
  position: relative;
  left: 30px;
  top: 40px; 
}

button{
  width: 250px; 
  padding: 15px 0; 
  text-align: center; 
  margin: 20px 10px;
  border-radius: 25px; 
  font-weight: 100;
  border: 0px solid #009688;
  background: transparent;
  cursor: pointer; 
  text-transform: uppercase;
  font-size: large;
  color:#fff;
  position: relative; 
  overflow: hidden; 

}

span{
  background: #353535;
  height: 100%; 
  width: 100%; 
  border-radius: 25px; 
  position: absolute; 
  opacity: 50%;
  left: 0;
  bottom: 0; 
  z-index: -1;
  transition: 0.5s;

}

button:hover span{
  width: 100%;
  opacity: 100%;
  background: #009688;
}

button:hover{
  border: none; 
}

.programandoenpython-pic{
  width: 90px;
  position: relative;
  left: 30px;
  top: 50px; 

}

.htmlycss-pic{
  width: 90px;
  position: relative;
  left: 30px;
  top: 50px; 

}

.division{
  width: 40px;
  height: 420px;
  position: absolute;
  background: #2b2b2b;
  top: 35%;
  left: 60%;  
  border-radius: 20px;
}

.posts{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 53%;
  height: 60%;
  top: 65%;
  left: 5%;
  transform: translateY(-50%);
  animation: fade-posts 1.4s;
}

.button1{
  width: 100%;
  height: 100%;
}

.miweb img{
  height: 110px;
  width: 110px;
  position: relative;
}

.miweb{
  width: 240px;
  height: 177px;
  position: relative;
  color: transparent;
}

.miweb h1{
  position: relative; 
  font-size: large;
  font-weight: 100;
  color: #ffffff;
  top: 10%;
}

.fiverr {
  position: relative;
  width: 240px;
  height: 177px;
  color: transparent;
}

.fiverr img{
  height:110px;
  width: 110px;
  position: relative;
}

.fiverr h1{
  position: relative; 
  font-size: large;
  font-weight: 100;
  color: #ffffff;
  top: 10%;
}

@keyframes fade-blogs{
  from{
  opacity:0;
  top: 70%;
  
  }
  
  to{
  opacity: 1;
  top: 60%;

  }
}

@keyframes fade-posts{
  from{
    opacity:0;
    top: 70%;
    
    }
    
    to{
    opacity: 1;
    top: 65%;
  
    }

}

@media (orientation: portrait) {
  
  .logo{
    width: 25%;
  }

  .navbar{
    font-size: 29px;
  }

  @keyframes fade {
    from{
      opacity:0;
      top: 60%;
        
    }
        
      to{
      opacity: 1;
      top: 55%;
      
      }
  }

  .banner{
    height: 120vh;

  }

  .content{
    top: 22%;

  }

  .blogs{
    display: none;
      
  }

  button{
    font-size: 40px;
    width: 550px;
    height: 120px;
    font-weight: bold;
    margin: 50px 15px;
    border-radius: 60px;
  }

  .content h2{
    font-size: 85px;
    top: -150%;
  }

  .blogs{
    display: none;
  }

  .blogs-title{
    display: none;
  }

  .division{
    display: none;
  }

  .posts{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    width: 80%;
    height: 80%;
    top: 65%;
    left: 18%;
    transform: translateY(-50%);
    animation: fade-posts 1.4s;
  }

  .miweb{
    width: 70%;
    height: 40%;
    position: relative;
    color: transparent;
  }

  .miweb img{
    width: 70%;
    height: 70%;

  }

  .miweb h1{
    top: -5%;
    font-size: 65px;

  }

  .fiverr img{
    width: 60%;
    height: 60%;

  }

  .fiverr h1{
    top: 8%;
    font-size: 65px;

  }

  
  .fiverr {
    width: 70%;
    height: 40%;
    position: relative;
    color: transparent;
  }
  
}
