@font-face {
  font-family: Renogare;
  src: url(Renogare-Regular.otf);
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Renogare;
}

.banner{
  width: 100%;
  height: 200vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(backgroundimg.png);
  background-size: cover;
  background-position: center;
}

.logo{
  width: 90px;
  cursor: pointer; 
}

.navbar{
  width: 85%;
  margin: auto; 
  padding: 35px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px; 
  position: relative; 
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
  color: #fff;
  width: 100%;
  position: absolute;
  top: 12%; 
  text-align: center;
}

.content h2{
  font-size: 60px;
  position:relative;
  left:-25px;
  margin: 50px;
  color: #009688;
  font-weight: 100;
}

.content p{
width: 90%;
top: 1%;
left: 50px;
line-height: 27px;
position: relative;
font-size: 20px;
margin:5px;
text-align: center;
animation: fade 1.5s;
}

.python-pic{
width: 16%;
position: absolute;
top: 23%;
left:8%;
animation: fade-pics-left 2s;
}

.calculadora-pic{
  width: 27%;
  position: absolute;
  top: 43%;
  left:72%;
  animation: fade-pics-right 2s; 
  
}

#rectangle1{
width:300px;
position: absolute;
background: white;
top: 73%;
left:8%;
animation: fade-pics-left 2s;
}

.django-pic{
  width: 100%;
  position: relative;


}

@keyframes fade{
  from{
  opacity:0;

  }
  
  to{
  opacity: 1;

  }
}

@keyframes fade-pics-left{
  from{
    opacity:0;
    left:0%;
  }

    to{
    opacity: 1;
    left: 8%;
  }
}

@keyframes fade-pics-right{
  from{
    opacity:0;
    top: 90%;
  }

    to{
    opacity: 1;
    top: 43%;
  }
}

@media (orientation: portrait) {
    
  @keyframes fade-pics-left{
  }

  @keyframes fade-pics-right{

  }
  .content h2{
    font-size: 70px;
    left: 0px;

  }

  .content p{
    font-size: 40px;
    line-height: 50px;
  }

  .logo{
    width: 25%;
  }

  .navbar{
    font-size: 29px;
  }

  #rectangle1{
    top: 102%;
    
    
  }

  .python-pic{
    top: 108%;
    left: 12%;
    width: 20%;
    
  }
  .calculadora-pic{
    top: 102%;
    left: 425px;
    width: 50%;
  }
  
  .content{
    top: 15%;

  }

  .banner{
    height: 206vh;
  }



}