@font-face {
  font-family: Renogare;
  src: url(Renogare-Regular.otf);
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Renogare;
}

.banner{
  width: 100%;
  height: 220vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(backgroundimg.png);
  background-size:contain;
  background-repeat: repeat;

}

.logo{
  width: 90px;
  cursor: pointer; 
}

.navbar{
  width: 85%;
  margin: auto; 
  padding: 35px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px; 
  position: relative; 
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
  color: #fff;
  width: 100%;
  position: absolute;
  top: 12%; 
  text-align: center;
}

.content h2{
  font-size: 60px;
  position:relative;
  margin: 50px;
  color: #009688;
}

.content p{
width: 90%;
top: 18px;
left: 100px;
line-height: 27px;
position: relative;
font-size: 20px;
margin:5px;
text-align: left;
animation: fade_text 1.5s;
}

.html-pic{
  width: 13%;
  position: absolute; 
  left: 65%;  
  top: 16%;
  animation: fade 1.5s;
  
}

.webhostapp-pic{
width: 13%;
position: absolute; 
top: 40%;
left: 65%;  
animation: fade 1.5s;
}

.wix-pic{
  width: 90%;
  position: absolute;
  left: 5%;

}

.css-pic{
  width: 10%;
  position: absolute; 
  top: 84%;
  left: 65%;  
  animation: fade 1.5s;
}

#rectangle1{
  width:200px;
  height:100px;
  background: grey; 
  position:absolute;
  top: 63%;
  left:65%;
  animation: fade 1.5s;

}

@keyframes fade{
  from{
  opacity:0;  
  }
  
  to{
  opacity: 1; 
  }
}

@keyframes fade_text{
  from{
  opacity:0;  
  }
  
  to{
  opacity: 1; 
  }
}

@media (orientation: portrait) {
    
  @keyframes fade{

  }

  #rectangle1{
    opacity: 0;
    top:50%;
  }

  .logo{
    width: 25%;
  }

  .webhostapp-pic{
    opacity: 0;
    top: 50%;
  }

  .wix-pic{
    opacity: 0;
    top: 50%;
  }

  .html-pic{
    opacity: 0;
    top: 50%;
  }

  .css-pic{
    opacity: 0;
    top: 50%;
  }

  .content h2{
    font-size: 70px;
  }

  .content p{
    left: 50px;
    font-size: 45px;
    line-height: 60px;
  }

  .navbar{
    font-size: 29px;
  }

  .banner{
    height: 300vh;
  }

}
