@font-face {
  font-family: Renogare;
  src: url(Renogare-Regular.otf);
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Renogare;
}

.banner{
  width: 100%;
  height: 220vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(backgroundimg.png);
  background-size: cover;
  background-position: center;
}

.logo{
  width: 90px;
  cursor: pointer; 
}

.navbar{
  width: 85%;
  margin: auto; 
  padding: 35px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px; 
  position: relative; 
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
  color: #fff;
  width: 100%;
  position: absolute;
  top: 12%; 
  text-align: center;
}

.content h2{
  font-size: 60px;
  position:relative;
  margin: 50px;
  color: #009688;
 
}

.content p{
width: 90%;
top: 0px;
left: 80px;
line-height: 27px;
position: relative;
font-size: 20px;
margin:5px;
text-align: center;
animation: fade 1.5s;
}

.content p a{
color: #009688; 
font-size: 25px;
}

.content p g{
  color: #009688; 

}

.html-pic{
  width: 18%;
  position: absolute;
  top: 250px;
  left: 90px;
  animation: fade-pics-left 2s;
}

.css-pic{
  width: 16%;
  position: absolute;
  top: 600px;
  left: 1200px;
  animation: fade-pics-right 2s; 
    
}

.htmlcode-pic{
  width: 27%;
  position: absolute;
  top: 1000px;
  left: 30px;
  animation: fade-pics-left 2s;
}

@keyframes fade{
  from{
  opacity:0;
  top: 90px;
  
  }
  
  to{
  opacity: 1;


  }
}

@keyframes fade-pics-left{
  from{
    opacity:0;
    left:0%;
  }

    to{
    opacity: 1;
  }
}

@keyframes fade-pics-right{
  from{
    opacity:0;
    left: 83%;
  }

    to{
    opacity: 1;
  }
}

@media (orientation: portrait) {
    
  @keyframes fade{

  }
  
  @keyframes fade-pics-left{

  }
  
  @keyframes fade-pics-right{

  }
  .content p{
    font-size: 30px;
    line-height: 50px;
    left: 50px;
  }

  .content p g{
    font-size: 30px;
    line-height: 50px;
    left: 50px;
  }

  .content p a{
    font-size: 40px;
    line-height: 50px;
    left: 50px;

  }

  .html-pic{
    left: 100px;
    top: 104%;
    width: 22%;
  }

  .css-pic{
    top: 104%;
    width: 21%;
    left: 670px;

  }

  .htmlcode-pic{
    width: 25%;
    top: 105%;
    left: 375px;

  }

  .content h2{
    left: 2%;
  }

  .logo{
    width: 25%;
  }

  .navbar{
    font-size: 29px;
  }

  .banner{
    height: 170vh;
  }
}