@font-face {
  font-family: Renogare;
  src: url(../../Renogare-Regular.otf);
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Renogare;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../Imgs/Other/backgroundimg.png);
  background-size: cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto; 
  padding: 35px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 90px;
  cursor: pointer; 
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px; 
  position: relative; 
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
 color: #fff;
 position: absolute;
 width: 50%;
 top: 50%; 
 left: 38%;
 transform: translateY(-50%);
 text-align: center;
 align-items: center;
 justify-content: center;
}

.content p{
  margin: 5px; 
  font-size: 25px;
  font-weight: 70;
  line-height: 50px; 
  position: relative;
  width: fit-content;
  left: -9%;
}

.content h1{
  font-size: 50px;
  margin: 25px;
  width: fit-content;
  color:#ffffff;
  animation: fade 2s;
  position: relative;
  color: #009688;
  font-weight: 100;
}

.content img{
  position: relative;
  width: 60%;
  left: -28%;

}

@keyframes fade{
from{
opacity:0;
left: 30%;
}

to{
opacity: 1;
left: 0%;
}
}

/*
Este código lo he encontrado y parece no hacer nada, sería para testear.
Lo he comentado por si resulta ser importante.

button{
  width: 200px; 
  padding: 15px 0; 
  text-align: center; 
  margin: 20px 10px;
  border-radius: 25px; 
  font-weight: bold;
  border: 0px solid #009688;
  background: transparent;
  cursor: pointer; 
  text-transform: uppercase;
  font-size: large;
  color:#fff;
  position: relative; 
  overflow: hidden; 
}

span{
  background: #353535;
  height: 100%; 
  width: 100%; 
  border-radius: 25px; 
  position: absolute; 
  opacity: 50%;
  left: 0;
  bottom: 0; 
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
  opacity: 100%;
  background: #009688;
}

button:hover{
  border: none; 
}
*/

@media (orientation: portrait) {
    
  @keyframes fade1{
    from{
    opacity:0;
    top: 20%;
    }
    
    to{
    opacity: 1;
    top: -25%;
    }
  }

  @keyframes fade2{
    from{
    opacity:0;
    top: 65%;
    }
    
    to{
    opacity: 1;
    top: 10%;
    }
  }

  .logo{
    width: 25%;
  }

  .navbar{
    font-size: 29px;
  }

  .content{
    position: absolute;
    top: 70%;

  }

  .content p{
    margin: 5px auto; 
    font-size: 40px;
    font-weight: bold;
    line-height: 50px; 
    position: absolute;
    top: 10%;
    left: 5%;
    animation: fade2 2.5s;
    }

  .content h1{
    font-size: 100px;
    margin: 25px;
    color:#009688;
    animation: fade1 2s;
    position: absolute;
    top: -25%;
    left: 15%;
  }
  

  button{
    width: 400px; 
    height: 82px;
    padding: 15px 0; 
    text-align: center; 
    margin: 20px 10px;
    border-radius: 35px; 
    font-weight: 550;
    border: 0px solid #009688;
    background: transparent;
    cursor: pointer; 
    text-transform: uppercase;
    font-size: 40px;
    color:#fff;
    position: relative; 
    overflow: hidden; 
  }

  .logo_p{
    position: relative;
    top: -700px;
    width: 65%;
    height: 65%;
  }

}
